---
import TitleSection from "@/components/molecules/TitleSection.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <TitleSection
      title="Project Starter"
      subtitle="Una plantilla moderna para comenzar rápido"
      tagline="Un starter para proyectos web con Astro, Tailwind CSS y TypeScript con soporte para PWA, SEO y más."
      align="right"
      class="text-neutral-600 dark:text-neutral-300"
    />
  </body>
</html>
