---
import "../styles/global.css";
import { Button } from "@components/ui/button";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-6xl font-black text-neutral-300">Shadcn is Working!</h1>
    <Button>Button</Button>
  </body>
</html>
